﻿
@{
    ViewData["Title"] = "Index";
}

    <h1>Всього мiсць на паркінгу: @ViewBag.Capacity</h1>
    <h1>Поточний баланс паркiнгу: @ViewBag.Balance</h1>
    <h1>На паркiнгу вiльних мiсць: @ViewBag.FreePlaces</h1>

